.position-item {
  border: 1px solid green;
  padding: 10px 20px;
}
.canvas-box {
  border: 2px solid green;
  width: 1280px;
  height: 550px;
  position: relative !important;
  margin: 0 20px;
  background-image: url(./grid.png);
}
.drag-area {
  width: 1280px;
  height: 60px;
  border: tomato 2px solid;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.square-table {
  padding: 15px 12px 12px;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  cursor: move;
  margin: 0 10px;
  background-color: white;
  text-align: center;
  background-color: rgba(76, 0, 130, 0.678);
  color: #fff;
  z-index: 10;
}
.rectangle-table {
  padding: 15px 12px 12px;
  border: 2px solid black;
  width: 60px;
  height: 30px;
  cursor: move;
  margin: 0 10px;
  background-color: white;
  text-align: center;
  background-color: rgba(0, 130, 17, 0.678);
  color: #fff;
  z-index: 10;
}
.circle-table {
  padding: 15px 12px 12px;
  border: 2px solid black;
  background-color: lightcoral;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: move;
  margin: 0 10px;
  text-align: center;
  color: #fff;
  z-index: 10;
}
.circle-table:hover {
  border-radius: 0;
}
h3 {
  margin-left: 20px;
}
